## Wappler routing
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?register(?:/)?$ _user/register.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?login(?:/)?$ _user/login.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?dashboard(?:/)?$ _user/dashboard.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(?:/)?$ index.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?about(?:/)?$ about.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?contact(?:/)?$ contact.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?hayden(?:/)?$ _sites/haydenlosey/index.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?haydenguestbook(?:/)?$ _sites/haydenlosey/videodisplay.php [QSA,NC,L]
## End Wappler routing
